#eyerecorder span {
	font-size : 400%;
	margin : 1em;
}

#eyerecorder > :nth-child(1) {
	color : red
}

#eyerecorder > :nth-child(2) {
	color : blue
}

#eyerecorder > :nth-child(3) {
	color : green
}
