#eyerecorder span{
	font-size: 4em;
	margin:0.5em 1em;
}
#eyerecorder > :nth-child(1){
	color:red;
}
#eyerecorder > :nth-child(2){
	color:blue;
}
#eyerecorder > :nth-child(3){
	color:green;
}
#fake_cursor {
	position : absolute;
	z-index : 999;
	overflow : visible;
}
